.centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centre-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.center-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.top-left-diagonal {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right-diagonal {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-left-diagonal {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-right-diagonal {
    position: absolute;
    bottom: 0;
    right: 0;
}

.top-centre {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-centre {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.left-centre {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.right-centre {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
